<ul class="nav justify-content-end  bg-dark text-white">
    <li class="nav-item">
        <a class="nav-link" routerLink="/home">HOME</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/about-us">ABOUT</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/contact-us">CONTACT</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/login">LOGIN</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/graphs">GRAPHS</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/parentC">Parent</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/app-parents">ParentComponent</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/image-compress">Image-minification</a>
    </li>
</ul>