<body>
    <!-- Header Starts -->
    <div class="header">
        <div class="header__left">
            <i class="material-icons">menu</i>
            <img src="assets/youtube1.jpg" alt="" />
        </div>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <div class="header__search">
            <form action="">
                <input type="text" placeholder="Search" />
                <button><i class="material-icons">search</i></button>
            </form>
        </div>

        <div class="header__icons">
            <i class="material-icons">videocam</i>
            <i class="material-icons">apps</i>
            <i class="material-icons">notifications</i>
            <i class="material-icons">account_circle</i>
        </div>
    </div>
    <!-- Header Ends -->

    <!-- Main Body Starts -->
    <div class="mainBody">
        <!-- Sidebar Starts -->
        <div class="sidebar">
            <div class="sidebar__categories">
                <div class="sidebar__category">
                    <i class="material-icons">home</i>
                    <span>Home</span>
                </div>
                <div class="sidebar__category">
                    <i class="material-icons">local_fire_department</i>
                    <span>Trending</span>
                </div>
                <div class="sidebar__category">
                    <i class="material-icons">subscriptions</i>
                    <span>Subcriptions</span>
                </div>
            </div>
            <hr />
            <div class="sidebar__categories">
                <div class="sidebar__category">
                    <i class="material-icons">library_add_check</i>
                    <span>Library</span>
                </div>
                <div class="sidebar__category">
                    <i class="material-icons">history</i>
                    <span>History</span>
                </div>
                <div class="sidebar__category">
                    <i class="material-icons">play_arrow</i>
                    <span>Your Videos</span>
                </div>
                <div class="sidebar__category">
                    <i class="material-icons">watch_later</i>
                    <span>Watch Later</span>
                </div>
                <div class="sidebar__category">
                    <i class="material-icons">thumb_up</i>
                    <span>Liked Videos</span>
                </div>
            </div>
            <hr />
        </div>
        <!-- Sidebar Ends -->

        <!-- Videos Section -->
        <div class="videos">
            <h1>Recommended</h1>

            <div class="videos__container">
                <!-- Single Video starts -->
                <div class="video">
                    <div class="video__thumbnail">
                        <iframe src="https://www.youtube.com/embed/WlUtztkvOa8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="video__details">
                        <div class="author">
                            <img src="assets/youtube1.jpg" alt="" width="30%" />
                        </div>
                        <div class="title">
                            <h3>How To #Deploy / #Upload / #Host Angular 4 5 6 7 Project to Server (cpanel)</h3>
                            <a href="">FutureCoders</a>
                            <span>10M Views • 3 Months Ago</span>
                        </div>
                    </div>
                </div>
                <!-- Single Video Ends -->

                <!-- Single Video starts -->
                <div class="video">
                    <div class="video__thumbnail">
                        <iframe src="https://www.youtube.com/embed/hKB0N9Rx3G8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="video__details">
                        <div class="author">
                            <img src="assets/code1.jpg" width="20%" alt="" />
                        </div>
                        <div class="title">
                            <h3>Angular 10 CRUD Application. Communication from Parent Component To Child Component</h3>
                            <a href="">FutureCoders</a>
                            <span>10M Views • 3 Months Ago</span>
                        </div>
                    </div>
                </div>
                <!-- Single Video Ends -->

                <div class="video">
                    <div class="video__thumbnail">
                        <iframe src="https://www.youtube.com/embed/_TLhUCjY9iA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="video__details">
                        <div class="author">
                            <img src="https://yt3.ggpht.com/ytc/AAUvwnh53ZRIGnyzC28QrfuggCINb3cfNbNWo4Uc6qR9=s48-c-k-c0x00ffffff-no-rj" alt="" />
                        </div>
                        <div class="title">
                            <h3>Learn Angular 8 from Scratch for Beginners - Crash Course</h3>
                            <a href="">DesignCourse</a>
                            <span>10M Views • 11 Months Ago</span>
                        </div>
                    </div>
                </div>

                <div class="video">
                    <div class="video__thumbnail">
                        <iframe src="https://www.youtube.com/embed/G7Vwf2_vUfw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="video__details">
                        <div class="author">
                            <img src="https://yt3.ggpht.com/ytc/AAUvwnhESPVEatju_1yE-03-KLeSrnSLc5yy0RcvhPd5Lg=s48-c-k-c0x00ffffff-no-rj" alt="" />
                        </div>
                        <div class="title">
                            <h3>Angular 9 Tutorial For Beginners #76- Build Angular Applications</h3>
                            <a href=""> ARC Tutorials</a>
                            <span>10M Views • 1 Month Ago</span>
                        </div>
                    </div>
                </div>

                <div class="video">
                    <div class="video__thumbnail">
                        <iframe src="https://www.youtube.com/embed/z4JUm0Bq9AM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="video__details">
                        <div class="author">
                            <img src="https://yt3.ggpht.com/ytc/AAUvwniaHN7MZyFEiNvdHuKMzIWnDF604Z2--O4GCMq-FA=s48-c-k-c0x00ffffff-no-rj" alt="" />
                        </div>
                        <div class="title">
                            <h3>Learn Angular 6 in 60 Minutes - Free Beginners Crash Course</h3>
                            <a href="">Design Course</a>
                            <span>179K • 8 Months Ago</span>
                        </div>
                    </div>
                </div>

                <div class="video">
                    <div class="video__thumbnail">
                        <iframe src="https://www.youtube.com/embed/FV2MXOygDTM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="video__details">
                        <div class="author">
                            <img src="https://yt3.ggpht.com/ytc/AAUvwnifaQZvAunS0OFb2y_cieoVjLCVjqQW8Exf3BC1gg=s48-c-k-c0x00ffffff-no-rj" alt="" />
                        </div>
                        <div class="title">
                            <h3>AngularJS Tutorial (Covering Angular 9) | Learn AngularJS Step By Step | Angular for Beginners
                            </h3>
                            <a href=""> freeCodeCamp.org </a>
                            <span>470K Views • 8 Months Ago</span>
                        </div>
                    </div>
                </div>

                <div class="video">
                    <div class="video__thumbnail">
                        <iframe src="https://www.youtube.com/embed/hCbK0EVLUX0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="video__details">
                        <div class="author">
                            <img src="https://yt3.ggpht.com/ytc/AAUvwnhIz_0Su6HhW6Ym50QCroJCAnF10X9xnnMDboN2=s48-c-k-c0x00ffffff-no-rj" alt="" />
                        </div>
                        <div class="title">
                            <h3>Angular CRUD Tutorial - Learn Template Driven Forms in Angular 9 in under 30 minutes
                            </h3>
                            <a href=""> Web Dev Simplified </a>
                            <span>875K Views • 1 Year Ago</span>
                        </div>
                    </div>
                </div>

                <div class="video">
                    <div class="video__thumbnail">
                        <iframe src="https://www.youtube.com/embed/kKtrHrciIVs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="video__details">
                        <div class="author">
                            <img src="https://yt3.ggpht.com/ytc/AAUvwnifaQZvAunS0OFb2y_cieoVjLCVjqQW8Exf3BC1gg=s48-c-k-c0x00ffffff-no-rj" alt="" />
                        </div>
                        <div class="title">
                            <h3>Angular - Zero to Hero - Life Cycle Hooks [ Explained With Examples ]</h3>
                            <a href=""> WebTechTalks </a>
                            <span>36K Views • 1 Day Ago</span>
                        </div>
                    </div>
                </div>

                <div class="video">
                    <div class="video__thumbnail">
                        <iframe src="https://www.youtube.com/embed/At6XyItIHsE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="video__details">
                        <div class="author">
                            <img src="https://yt3.ggpht.com/ytc/AAUvwnhESPVEatju_1yE-03-KLeSrnSLc5yy0RcvhPd5Lg=s48-c-k-c0x00ffffff-no-rj" alt="" />
                        </div>
                        <div class="title">
                            <h3>8 Developer Portfolios that MIGHT be 10/10's?!</h3>
                            <a href="">Design course</a>
                            <span>10M Views • 3 Months Ago</span>
                        </div>
                    </div>
                </div>

                <div class="video">
                    <div class="video__thumbnail">
                        <iframe src="https://www.youtube.com/embed/9iUJJHEIpls" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="video__details">
                        <div class="author">
                            <img src="https://yt3.ggpht.com/ytc/AAUvwnhESPVEatju_1yE-03-KLeSrnSLc5yy0RcvhPd5Lg=s48-c-k-c0x00ffffff-no-rj" alt="" />
                        </div>
                        <div class="title">
                            <h3>Designing & Building a Personal Portfolio from SCRATCH!</h3>
                            <a href="">Design Course</a>
                            <span>10M Views • 3 Months Ago</span>
                        </div>
                    </div>
                </div>

                <div class="video">
                    <div class="video__thumbnail">
                        <iframe src="https://www.youtube.com/embed/II-6dDzc-80" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="video__details">
                        <div class="author">
                            <img src="https://yt3.ggpht.com/ytc/AAUvwnh53ZRIGnyzC28QrfuggCINb3cfNbNWo4Uc6qR9=s48-c-k-c0x00ffffff-no-rj" alt="" />
                        </div>
                        <div class="title">
                            <h3>Figma Masterclass for Beginners (2022 Updated)</h3>
                            <a href="">Netflix</a>
                            <span>10M Views • 11 Months Ago</span>
                        </div>
                    </div>
                </div>



                <div class="video">
                    <div class="video__thumbnail">
                        <iframe src="https://www.youtube.com/embed/kKtrHrciIVs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="video__details">
                        <div class="author">
                            <img src="https://yt3.ggpht.com/ytc/AAUvwnifaQZvAunS0OFb2y_cieoVjLCVjqQW8Exf3BC1gg=s48-c-k-c0x00ffffff-no-rj" alt="" />
                        </div>
                        <div class="title">
                            <h3>Angular - Zero to Hero - Life Cycle Hooks [ Explained With Examples ]</h3>
                            <a href=""> webtecktalks </a>
                            <span>470K Views • 8 Months Ago</span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <!-- Main Body Ends -->
</body>